#!/bin/bash
#########################################################
#                                                       #
#           Pi-Star HostAPd Service Handler             #
#                                                       #
# Written for Pi-Star (http://www.mw0mwz.co.uk/pi-star) #
#               By Andy Taylor (MW0MWZ)                 #
#  for BananaPiZW/M2/M5/NanoPi USBWiFi @BI7JTA 2023.3   #
#                     Version 1.5                       #
#                                                       #
#########################################################

# kernel = 4.4.55-BPI-M2Z-Kernel
# kernel = 3.10.108-BPI-M2U-Kernel
# kernel = 5.10.103-v7l+ , Hardware = RPi

autostartConfig="/etc/pistar-release";
FIND_STR="BPI-M2"
cat  ${autostartConfig}

echo "Received parameters: \$1=$1, \$2=$2, \$3=$3"

if [ `grep -c "$FIND_STR" $autostartConfig` -ne '0' ];then
    echo "BPiM2 Kernal , call pistar-ap.service_BPiM2 setup WiFi AP "
    chmod +x /usr/local/sbin/pistar-ap.service_BPiM2
    /usr/local/sbin/pistar-ap.service_BPiM2 "$1"
else
	chmod +x /usr/local/sbin/pistar-ap.service_RPi
    echo "RPi or Ori ,NEO Kernal , call pistar-ap.service setup WiFi AP "
    /usr/local/sbin/pistar-ap.service_RPi "$1"
fi

